<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name,edit_user_path(current_user) %>
  </div> 
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>



<div class="rooms">
  <% current_user.rooms.each do |room| %>
  <%#今ログインしている人（current_user）の(rooms)の中からeachメソッドでチャットルーム名|room|を一つづつ繰り返し取り出す %>
    <div class="room">
    <%# クラスはcssを当てるために設定している %>
      <div class="room-name">
        <%= link_to room.name,room_messages_path(room) %>
        <%# 今ログインしている人の取り出されたチャットルーム名｜room｜がサイドバーに全て表示される %>
        <%# サイドバーのチャットルーム名をクリックすると、クリックしたチャットルームのページに遷移することができる %>
        <%# パスに(room)を引数とすることで、メッセージと紐付いているチャットルームのidを持たせることができる %>
      </div>
    </div>
  <% end %>
</div>